@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/*header*/
header{
    background-color: #98082c;
    color: white;
    text-align: center;
    font-size: 55pt;
    font-family: 'Share Tech', sans-serif;
}

/*index*/
body{
    background-color: white;
}
#t3store{
    margin: 0;
    padding: 0;
}

/*products*/
.produto{
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    display: inline-block;
    margin: 10px auto 10px auto;
}
.nomedispositivo{
    font-size: 20px;
    margin: 0px;
}
.price{color: #aaaaaa;
	font-size: 10pt}
h3{color: green;}

/*produto01*/
.imagens{
    font-family: 'Share Tech', sans-serif;
    float: left;
    align-items: center;
    width: auto;
    height: auto;
}
.compre-aqui{
    font-family: 'Share Tech', sans-serif;
    float: left;
    align-items: center;
}
.comprar{
    text-align: center;
    font-size: 15pt;
    background-color: #00b768;
    color: white;
    padding: 10px;
    border-radius: 50px;
    width: 30%;
    cursor: pointer;
}

/*footer*/
footer{
    background-color: #98082c;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
}